<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
<html>
    <head>
        <title>404 Not Found</title>
        <link rel="stylesheet" href='/static/style.css' />
        <meta http-equiv="refresh" content="10" >
    </head>
    <body>
        <div class="header">
            <h1>Not Found</h1>
        </div>
        <div class="content">
            <p>The requested URL was not found on the server.  If you entered the URL manually please check your spelling and try again.</p>
        </div>
        </body>
</html>