<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
<html>
    <head>
        <title>500 Internal Server Error</title>
        <link rel="stylesheet" href='/static/style.css' />
        <meta http-equiv="refresh" content="10" >
    </head>
    <body>
        <div class="header">
            <h1>Internal Server Error</h1>
        </div>
        <div class="content">
            <p>The server encountered an internal error and was unable to complete your request.  Either the server is overloaded or there is an error in the application.</p>
        </div>
        </body>
</html>