<!DOCTYPE html>
<html>
    <head>
        <title> Dateien hochladen </title>
        <link rel="stylesheet" href='/static/style.css' />
    </head>

    <body>
        <center>
            <div class="header">
                <h1> Dateien hochladen </h1>
            </div>
            <div class="content">
                </br>
                <form action="upload" method="post" enctype="multipart/form-data">
                    <input type="file" name="file">
                    <input type="submit" value="Upload">
                </form>
                </br>
            </div>
        </center>
    </body>
</html>
